<footer class="main">

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<div>
<div class="wrapper">
  <ul>
    <li class=""><i class="fa fa-facebook fa-2x" aria-hidden=""></i></li>
    <li class=""><i class="fa fa-twitter fa-2x" aria-hidden=""></i></li>
    <li class=""><i class="fa fa-instagram fa-2x" aria-hidden=""></i></li>
    <li class=""><i class="fa fa-google fa-2x" aria-hidden=""></i></li>
    <li class=""><i class="fa fa-whatsapp fa-2x" aria-hidden=""></i></li>
  </ul>
</div>

</footer>
